################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/di-ioc/.vs/di-ioc/v15
